<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>{% if post.title %}{{ post.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="stylesheet" href="{{ site.baseurl }}/node_modules/reveal.js/css/reveal.css">

<link rel="stylesheet" href="{{site.baseurl}}/node_modules/reveal.js/css/reset.css">
<link rel="stylesheet" href="{{site.baseurl}}/node_modules/reveal.js/css/reveal.css">
<link rel="stylesheet" href="{{site.baseurl}}/node_modules/reveal.js/css/theme/moon.css">

<!-- Theme used for syntax highlighting of code -->
<link rel="stylesheet" href="{{site.baseurl}}/node_modules/reveal.js/lib/css/monokai.css">

<!-- Printing and PDF exports -->
<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'node_modules/reveal.js/css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>