@font-face {
    font-family: 'droid_serifbold';
    src: url('DroidSerif-Bold-webfont.eot');
    src: url('DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSerif-Bold-webfont.woff') format('woff'),
         url('DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
